h1{
    	color:  #fd6b0a;
		text-align: center;
}
ol{
	text-align: center;
}

div.container {
	text-align: center;

}
ul.myUL {
	display: inline-block;
	text-align: left;
  }
  div.container {
	text-align: center;
  }
  ol.myUL {
	display: inline-block;
	text-align: left;
  }